<%- include('../partials/header.ejs') %>
  <title><%= title %></title>
</head>
<body>

  <div class="row">
    <div class="column">
      <h1><%= title %></h1>
    </div>
  </div>

  <form action="/route" method="get">
    <div class="row">
      <div class="columns large-4">
        <p><%= description.details %></p>
      </div>
      <div class="columns large-4">
        <p><%= description.party %></p>
      </div>
      <div class="columns large-4">
        <p><%= description.add %></p>
      </div>
    </div>
    <div class="row">
      <div class="columns large-4">
        <button type="button" onClick="PRES.getRoute('/queryPresident');">Get Details</button>
      </div>
      <div class="columns large-4">
        <button type="button" onClick="PRES.getRoute('/queryParty');">Sort by Party Affiliation</button>
      </div>
      <div class="columns large-4">
        <button type="button" onClick="PRES.getRoute('/addPresident');">Add President</button>
      </div>
    </div>
  </form>

  <div class="row">
    <div id="result" class="column"></div>
  </div>

  <%- include('../partials/xhr.ejs') %>
</body>
</html>
